@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AtypDisplay';
    src: url('/fonts/Atyp-Display-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'AtypTextMedium';
    src: url('/fonts/Atyp-Text-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'AtypTextRegular';
    src: url('/fonts/Atyp-Text-Regular.ttf') format('truetype');
}

h1 {
    font-family: 'AtypDisplay', sans-serif;
    font-size: 40px;
}

h2 {
    font-family: 'AtypTextMedium', sans-serif;
    font-size: 24px;
}
/* Subtitle */
h3 {
    font-family: 'AtypTextMedium', sans-serif;
    font-size: 13px;
}
/* body */
p {
    font-family: 'AtypTextRegular', sans-serif;
    font-size: 15px;
    line-height: 1.7;
}
/* Link */
a, .link {
    font-family: 'AtypTextRegular', sans-serif;
    font-size: 15px;
}

.body-large{
    font-family: 'AtypTextMedium', sans-serif;
    font-size: 19px;
}
.body-small{
    font-family: 'AtypTextRegular', sans-serif;
    font-size: 17px;
}

@media (max-width: 640px) {
    h1 {
        font-size: 30px;
    }
}